@page "/"
@page "/Index"
@using Microsoft.EntityFrameworkCore;

<PageTitle>Index</PageTitle>

<h1 class="page-header">KPMG Boilerplate template</h1>
<hr />
<div class="container-fluid">
    <div class="row m-auto">
        <div class="col g-0 square-3 mb-4">
            <p class="">
                <strong>Welcome</strong><br />
                This is the KPMG boilerplate project, which utilizes the following stack
                <ul>
                    <li>C# .Net Core 6.0</li>
                    <li>Bootstrap 5.3.x <a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/" target="_blank">Bootstrap documentation</a></li>
                    <li>Blazor server-side</li>
                    <li>KPMG common components (based on SyncFusion front-end library) <a href="https://blazor.syncfusion.com/documentation/introduction" target="_blank">SyncFusion Blazor documentation</a></li>
                </ul>
                <br />
                The project has standard pages for a KPMG compliant web based application.
            </p>
        </div>
    </div>
</div>

@code{
}

