/*Bootstrap overrides*/

.container-fluid {
    padding-left: 0 !important;
}

.page-header {
    margin-bottom: 1.5rem;
    outline: none;
}

.e-span {
    position: fixed;
    z-index: 100000;
    width: 100%;
}
