@page "/admin/useradmin"

<PageTitle>User administration</PageTitle>

<h1>User administration</h1>

<SfTextBox @ref="inputTextForFocus">TEST</SfTextBox>
<SfTextBox>TEST2</SfTextBox>

@code{
    private SfTextBox? inputTextForFocus;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            if (inputTextForFocus != null)
                await inputTextForFocus.FocusAsync();
    }
}